html {
    background-color: cornsilk;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    padding: 15px;
}

input[type=text] {
    background-color: darkcyan;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    color: cornsilk;
    width: 300px;
    border: 0;
    margin-left: calc(50% - 160px);
}

::placeholder {
    color: white;
    text-align: center;
}

.book {
    background-color: wheat;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.authors {
    background-color: darkcyan;
    border-radius: 0 0 10px 10px;
    color: whitesmoke;
}

.book_title {
    font-weight: lighter;
    font-size: 1.3em;
    margin-bottom: 0;
}

.book_annotation {
    font-size: 0.9em;
    margin-bottom: 0;
    margin-top: 0;
}

.book_author {
    margin-top: 0;
}

.pagination {
    text-align: center;
    color: darkcyan;
}

.footer, .header {
    height: 100px;
}

.head_h1 {
    color: darkcyan;
    margin-left: auto;
    margin-right: 10%;
    text-align: right;
}
